$--colors: (
  "primary": (
    "base": #f2b027,
  ),
  "success": (
    "base": #56ce56,
  ),
  "warning": (
    "base": #f3a852,
  ),
  "danger": (
    "base": #f04438,
  ),
  "error": (
    "base": #f04438,
  ),
  "info": (
    "base": #f2b027,
  ),
);

// You should use them in scss, because we calculate it by sass.
// comment next lines to use default color
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  // do not use same name, it will override.
  $colors: $--colors,
  $button-padding-horizontal: ("default": 50px)
);

// custom dark variables
@use "./dark.scss";
